/*
   <p class="클래스name">빨간 글자색의 문단입니다.</p>
   <p class="red yellow-bg">빨간 글자색과 노란 배경의 문단입니다.</p>
   <p class="red fancy">빨간 글자색과 "멋진" 스타일을 가진 문단입니다.</p>
   <p>이건 그냥 문단이에요.</p>
*/
html {
  font-family:
    "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.hbody {
  background-color: black;
  width: 100%;
  height: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: white;
}

.title {
  font-size: 2em;
}

.title > a {
  color: white;
}

@media screen and (min-width: 625px) {

  #menu {
    display: flex;
  }

  #menu > li {
    padding: 20px 30px;
    font-size: 20px;
  }

  li > a {
    color: white;
  }

  .fab {
    font-size: 35px;
    color: #1DA1F2;
  }

  .fas {
    display: none;
  }
}

@media screen and (max-width: 625px) {

  .nav {
    padding: 30px 40px;
  }

  #menu {
    display: none;
  }

  .fab {
    display : none;
  }

  .fas {
    font-size: 2em;
  }
}